* {
    margin: 0;
    padding: 0;
}
body {
    background: #000675;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding-inline: 100px;
}

.show_content {
    background-color: #080b35;
    height: 20rem;
    width: 50rem;
    box-shadow: 0 2px 8px rgb(3, 0, 41);
    padding: 0.5rem;
    margin: 2rem auto;
    border-radius: 5px;
}
.show_content:hover {
    box-shadow: 0 2px 50px rgb(5, 0, 78);
}

.bar, .time {
    display: flex;
    margin-left: 20px;
}

.bar {
    justify-content: space-between;
}
.time {
    justify-content: left;
}
.time p {
    margin-right: 1rem;
}
.bar h2 {
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.btn a {
    text-decoration: none;
}

.des {
    margin: 1rem;
    height: 65%;
    width: auto;
    background-color: #584e8d70;
    border-radius: 5px;
}

.content {
    padding: 1rem;
}

h1 {
    margin: 10rem ;
    color: #FFF5E0;
    text-align: center;
}